In [107]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [108]:
def apriori_algorithm(type, country, minsup):
    inputCSV = "Datasets/Transaction_Datasets("+str(type)+")/"+country+"_Monthly_Diff.csv"
    outputCSV = "Frequent_Pattern_Datasets("+str(type)+")/"+country+"_apriori_frequent_Pattern.csv"
    df = pd.read_csv(inputCSV)
    result_df = apriori(df, min_support=minsup , use_colnames=True)
    display(result_df)
    result_df.to_csv(outputCSV)

def fp_growth_algorithm(type, country, minsup):
    inputCSV = "Datasets/Transaction_Datasets("+str(type)+")/"+country+"_Monthly_Diff.csv"
    outputCSV = "Frequent_Pattern_Datasets("+str(type)+")/"+country+"_fp-growth_frequent_Pattern.csv"
    df = pd.read_csv(inputCSV)
    result_df = fpgrowth(df, min_support=minsup , use_colnames=True)
    display(result_df)
    result_df.to_csv(outputCSV)

## set minsup

In [109]:
minsup = 0.34

## when X > 0.1, minsup = 0.34
output file in __Frequent_Pattern_Datasets(2)__

In [110]:
I_apriori = apriori_algorithm(2, "India", minsup)
C_apriori = apriori_algorithm(2, "China", minsup)
F_apriori = apriori_algorithm(2, "France", minsup)
P_apriori = apriori_algorithm(2, "Philippine", minsup)
S_apriori = apriori_algorithm(2, "SouthKorea", minsup)
#apriori_algorithm("Datasets/Transaction_Datasets(2)/India_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/India_apriori_frequent_Pattern.csv")
#apriori_algorithm("Datasets/Transaction_Datasets(2)/China_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/China_apriori_frequent_Pattern.csv")
#apriori_algorithm("Datasets/Transaction_Datasets(2)/France_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/France_apriori_frequent_Pattern.csv")
#apriori_algorithm("Datasets/Transaction_Datasets(2)/Philippine_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/Philippine_apriori_frequent_Pattern.csv")
#apriori_algorithm("Datasets/Transaction_Datasets(2)/SouthKorea_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/SouthKorea_apriori_frequent_Pattern.csv")

    support                                  itemsets
0  0.488889                      (unemployment_rates)
1  0.466667                   (canada_inflation_rate)
2  0.533333                          (inflation_rate)
3  0.400000                      (canada_total_cases)
4  0.355556                      (canada_total_tests)
5  0.355556  (canada_total_tests, canada_total_cases)

    support                                  itemsets
0  0.466667                   (canada_inflation_rate)
1  0.422222                          (inflation_rate)
2  0.400000                      (canada_total_cases)
3  0.355556                      (canada_total_tests)
4  0.355556  (canada_total_tests, canada_total_cases)

    support                                  itemsets
0  0.466667                   (canada_inflation_rate)
1  0.444444                          (inflation_rate)
2  0.400000                      (canada_total_cases)
3  0.444444                             (total_cases)
4  0.355556                      (canada_total_tests)
5  0.377778                             (total_tests)
6  0.355556         (canada_total_cases, total_cases)
7  0.355556  (canada_total_tests, canada_total_cases)

    support                                  itemsets
0  0.466667                   (canada_inflation_rate)
1  0.400000                      (canada_total_cases)
2  0.422222                             (total_cases)
3  0.355556                      (canada_total_tests)
4  0.377778                             (total_tests)
5  0.444444                            (total_deaths)
6  0.355556  (canada_total_tests, canada_total_cases)
7  0.355556               (total_cases, total_deaths)
8  0.355556               (total_tests, total_deaths)

     support                                        itemsets
0   0.466667                         (canada_inflation_rate)
1   0.533333                                (inflation_rate)
2   0.400000                            (canada_total_cases)
3   0.600000                                   (total_cases)
4   0.355556                            (canada_total_tests)
5   0.555556                                   (total_tests)
6   0.377778               (canada_total_cases, total_cases)
7   0.355556        (canada_total_tests, canada_total_cases)
8   0.377778               (total_tests, canada_total_cases)
9   0.533333                      (total_tests, total_cases)
10  0.355556  (total_tests, canada_total_cases, total_cases)

In [111]:
fp_growth_algorithm(2, "India", minsup)
fp_growth_algorithm(2, "China", minsup)
fp_growth_algorithm(2, "France", minsup)
fp_growth_algorithm(2, "Philippine", minsup)
fp_growth_algorithm(2, "SouthKorea", minsup)
#fp_growth_algorithm("Datasets/Transaction_Datasets(2)/India_Monthly_Diff.csv", "Frequent_Pattern_Datasets(2)/India_fp-growth_frequent_Pattern.csv")
#fp_growth_algorithm("Datasets/Transaction_Datasets(2)/China_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/China_fp-growth_frequent_Pattern.csv")
#fp_growth_algorithm("Datasets/Transaction_Datasets(2)/France_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/France_fp-growth_frequent_Pattern.csv")
#fp_growth_algorithm("Datasets/Transaction_Datasets(2)/Philippine_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/Philippine_fp-growth_frequent_Pattern.csv")
#fp_growth_algorithm("Datasets/Transaction_Datasets(2)/SouthKorea_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/SouthKorea_fp-growth_frequent_Pattern.csv")

    support                                  itemsets
0  0.533333                          (inflation_rate)
1  0.488889                      (unemployment_rates)
2  0.466667                   (canada_inflation_rate)
3  0.400000                      (canada_total_cases)
4  0.355556                      (canada_total_tests)
5  0.355556  (canada_total_tests, canada_total_cases)

    support                                  itemsets
0  0.466667                   (canada_inflation_rate)
1  0.422222                          (inflation_rate)
2  0.400000                      (canada_total_cases)
3  0.355556                      (canada_total_tests)
4  0.355556  (canada_total_tests, canada_total_cases)

    support                                  itemsets
0  0.466667                   (canada_inflation_rate)
1  0.444444                          (inflation_rate)
2  0.444444                             (total_cases)
3  0.400000                      (canada_total_cases)
4  0.355556                      (canada_total_tests)
5  0.377778                             (total_tests)
6  0.355556         (canada_total_cases, total_cases)
7  0.355556  (canada_total_tests, canada_total_cases)

    support                                  itemsets
0  0.466667                   (canada_inflation_rate)
1  0.422222                             (total_cases)
2  0.400000                      (canada_total_cases)
3  0.355556                      (canada_total_tests)
4  0.444444                            (total_deaths)
5  0.377778                             (total_tests)
6  0.355556               (total_cases, total_deaths)
7  0.355556  (canada_total_tests, canada_total_cases)
8  0.355556               (total_tests, total_deaths)

     support                                        itemsets
0   0.466667                         (canada_inflation_rate)
1   0.533333                                (inflation_rate)
2   0.600000                                   (total_cases)
3   0.400000                            (canada_total_cases)
4   0.355556                            (canada_total_tests)
5   0.555556                                   (total_tests)
6   0.377778               (canada_total_cases, total_cases)
7   0.377778               (total_tests, canada_total_cases)
8   0.355556  (total_tests, canada_total_cases, total_cases)
9   0.355556        (canada_total_tests, canada_total_cases)
10  0.533333                      (total_tests, total_cases)

## when -0.1 < X < 0.1, minsup = 0.34
output file in __Frequent_Pattern_Datasets(abs)__

In [105]:
apriori_algorithm("abs", "India", minsup)
apriori_algorithm("abs", "China", minsup)
apriori_algorithm("abs", "France", minsup)
apriori_algorithm("abs", "Philippine", minsup)
apriori_algorithm("abs", "SouthKorea", minsup)

In [106]:
fp_growth_algorithm("abs", "India", minsup)
fp_growth_algorithm("abs", "China", minsup)
fp_growth_algorithm("abs", "France", minsup)
fp_growth_algorithm("abs", "Philippine", minsup)
fp_growth_algorithm("abs", "SouthKorea", minsup)

## Confidence

In [16]:
def cal_confidence(inputCSV , outputCSV):
    df = pd.read_csv(inputCSV)
    result_df = association_rules(df, metric="confidence", min_threshold=0.7)
    
    return(result_df)

#cal_confidence("")