In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth

In [8]:
def apriori_algorithm(inputCSV , outputCSV):
    df = pd.read_csv(inputCSV)
    result_df = apriori(df, min_support=0.2)
    display(result_df)
    result_df.to_csv(outputCSV)
    
apriori_algorithm("Datasets/Transaction_Datasets(2)/India_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/India_apriori_frequent_Pattern.csv")
apriori_algorithm("Datasets/Transaction_Datasets(2)/China_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/China_apriori_frequent_Pattern.csv")
apriori_algorithm("Datasets/Transaction_Datasets(2)/France_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/France_apriori_frequent_Pattern.csv")
apriori_algorithm("Datasets/Transaction_Datasets(2)/Philippine_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/Philippine_apriori_frequent_Pattern.csv")
apriori_algorithm("Datasets/Transaction_Datasets(2)/SouthKorea_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/SouthKorea_apriori_frequent_Pattern.csv")

     support          itemsets
0   0.266667               (0)
1   0.488889               (1)
2   0.466667               (2)
3   0.533333               (3)
4   0.400000               (4)
5   0.288889               (5)
6   0.355556               (6)
7   0.333333               (7)
8   0.244444              (11)
9   0.200000              (12)
10  0.288889            (1, 3)
11  0.222222            (1, 4)
12  0.200000            (1, 6)
13  0.222222            (2, 3)
14  0.200000            (2, 4)
15  0.222222            (2, 7)
16  0.200000            (3, 4)
17  0.288889            (4, 5)
18  0.355556            (4, 6)
19  0.266667            (4, 7)
20  0.222222           (11, 4)
21  0.266667            (5, 6)
22  0.200000            (5, 7)
23  0.222222           (11, 5)
24  0.266667            (6, 7)
25  0.222222           (11, 6)
26  0.222222           (11, 7)
27  0.200000         (1, 4, 6)
28  0.266667         (4, 5, 6)
29  0.200000         (4, 5, 7)
30  0.222222        (11, 4, 5)
31  0.266667         (4, 6, 7)
32  0.222222        (11, 4, 6)
33  0.200000        (11, 4, 7)
34  0.200000         (5, 6, 7)
35  0.222222        (11, 5, 6)
36  0.200000        (11, 5, 7)
37  0.200000        (11, 6, 7)
38  0.200000      (4, 5, 6, 7)
39  0.222222     (11, 4, 5, 6)
40  0.200000     (11, 4, 5, 7)
41  0.200000     (11, 4, 6, 7)
42  0.200000     (11, 5, 6, 7)
43  0.200000  (4, 5, 6, 7, 11)

     support itemsets
0   0.266667      (0)
1   0.222222      (1)
2   0.466667      (2)
3   0.422222      (3)
4   0.400000      (4)
5   0.355556      (6)
6   0.200000     (12)
7   0.288889     (13)
8   0.222222   (2, 3)
9   0.200000   (2, 4)
10  0.355556   (4, 6)

     support       itemsets
0   0.266667            (0)
1   0.466667            (2)
2   0.444444            (3)
3   0.400000            (4)
4   0.444444            (5)
5   0.355556            (6)
6   0.377778            (7)
7   0.200000           (11)
8   0.200000           (12)
9   0.311111           (13)
10  0.288889         (2, 3)
11  0.200000         (2, 4)
12  0.222222         (2, 5)
13  0.266667         (2, 7)
14  0.200000         (3, 5)
15  0.355556         (4, 5)
16  0.355556         (4, 6)
17  0.311111         (4, 7)
18  0.200000        (11, 4)
19  0.311111         (5, 6)
20  0.288889         (5, 7)
21  0.200000        (11, 5)
22  0.266667         (6, 7)
23  0.200000        (11, 6)
24  0.200000      (2, 4, 7)
25  0.311111      (4, 5, 6)
26  0.266667      (4, 5, 7)
27  0.200000     (11, 4, 5)
28  0.266667      (4, 6, 7)
29  0.200000     (11, 4, 6)
30  0.222222      (5, 6, 7)
31  0.200000     (11, 5, 6)
32  0.222222   (4, 5, 6, 7)
33  0.200000  (11, 4, 5, 6)

     support          itemsets
0   0.266667               (0)
1   0.466667               (2)
2   0.333333               (3)
3   0.400000               (4)
4   0.422222               (5)
5   0.355556               (6)
6   0.377778               (7)
7   0.444444              (11)
8   0.200000              (12)
9   0.200000              (13)
10  0.200000            (2, 3)
11  0.200000            (2, 4)
12  0.266667            (2, 5)
13  0.244444            (2, 7)
14  0.244444           (2, 11)
15  0.333333            (4, 5)
16  0.355556            (4, 6)
17  0.288889            (4, 7)
18  0.311111           (11, 4)
19  0.311111            (5, 6)
20  0.333333            (5, 7)
21  0.355556           (11, 5)
22  0.288889            (6, 7)
23  0.311111           (11, 6)
24  0.355556           (11, 7)
25  0.200000         (2, 4, 5)
26  0.244444         (2, 5, 7)
27  0.222222        (2, 11, 5)
28  0.222222        (2, 11, 7)
29  0.311111         (4, 5, 6)
30  0.244444         (4, 5, 7)
31  0.266667        (11, 4, 5)
32  0.288889         (4, 6, 7)
33  0.311111        (11, 4, 6)
34  0.266667        (11, 4, 7)
35  0.244444         (5, 6, 7)
36  0.266667        (11, 5, 6)
37  0.311111        (11, 5, 7)
38  0.266667        (11, 6, 7)
39  0.222222     (2, 11, 5, 7)
40  0.244444      (4, 5, 6, 7)
41  0.266667     (11, 4, 5, 6)
42  0.222222     (11, 4, 5, 7)
43  0.266667     (11, 4, 6, 7)
44  0.222222     (11, 5, 6, 7)
45  0.222222  (4, 5, 6, 7, 11)

     support         itemsets
0   0.266667              (0)
1   0.266667              (1)
2   0.466667              (2)
3   0.533333              (3)
4   0.400000              (4)
5   0.600000              (5)
6   0.355556              (6)
7   0.555556              (7)
8   0.333333             (11)
9   0.200000             (12)
10  0.333333           (2, 3)
11  0.200000           (2, 4)
12  0.333333           (2, 5)
13  0.333333           (2, 7)
14  0.222222           (3, 4)
15  0.333333           (3, 5)
16  0.222222           (3, 6)
17  0.311111           (3, 7)
18  0.377778           (4, 5)
19  0.355556           (4, 6)
20  0.377778           (4, 7)
21  0.222222          (11, 4)
22  0.333333           (5, 6)
23  0.533333           (5, 7)
24  0.333333          (11, 5)
25  0.333333           (6, 7)
26  0.311111          (11, 7)
27  0.222222        (2, 3, 5)
28  0.222222        (2, 3, 7)
29  0.200000        (2, 4, 5)
30  0.200000        (2, 4, 7)
31  0.333333        (2, 5, 7)
32  0.222222        (3, 4, 5)
33  0.222222        (3, 4, 6)
34  0.222222        (3, 4, 7)
35  0.222222        (3, 5, 6)
36  0.311111        (3, 5, 7)
37  0.222222        (3, 6, 7)
38  0.333333        (4, 5, 6)
39  0.355556        (4, 5, 7)
40  0.222222       (11, 4, 5)
41  0.333333        (4, 6, 7)
42  0.222222       (11, 4, 7)
43  0.311111        (5, 6, 7)
44  0.311111       (11, 5, 7)
45  0.222222     (2, 3, 5, 7)
46  0.200000     (2, 4, 5, 7)
47  0.222222     (3, 4, 5, 6)
48  0.222222     (3, 4, 5, 7)
49  0.222222     (3, 4, 6, 7)
50  0.222222     (3, 5, 6, 7)
51  0.311111     (4, 5, 6, 7)
52  0.222222    (11, 4, 5, 7)
53  0.222222  (3, 4, 5, 6, 7)

In [9]:
def fp_growth_algorithm(inputCSV , outputCSV):
    df = pd.read_csv(inputCSV)
    result_df = fpgrowth(df, min_support=0.2)
    display(result_df)
    result_df.to_csv(outputCSV)
    
fp_growth_algorithm("Datasets/Transaction_Datasets(2)/India_Monthly_Diff.csv", "Frequent_Pattern_Datasets(2)/India_fp-growth_frequent_Pattern.csv")
fp_growth_algorithm("Datasets/Transaction_Datasets(2)/China_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/China_fp-growth_frequent_Pattern.csv")
fp_growth_algorithm("Datasets/Transaction_Datasets(2)/France_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/France_fp-growth_frequent_Pattern.csv")
fp_growth_algorithm("Datasets/Transaction_Datasets(2)/Philippine_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/Philippine_fp-growth_frequent_Pattern.csv")
fp_growth_algorithm("Datasets/Transaction_Datasets(2)/SouthKorea_Monthly_Diff.csv" , "Frequent_Pattern_Datasets(2)/SouthKorea_fp-growth_frequent_Pattern.csv")

     support          itemsets
0   0.533333               (3)
1   0.488889               (1)
2   0.466667               (2)
3   0.266667               (0)
4   0.400000               (4)
5   0.355556               (6)
6   0.288889               (5)
7   0.244444              (11)
8   0.333333               (7)
9   0.200000              (12)
10  0.288889            (1, 3)
11  0.222222            (2, 3)
12  0.222222            (1, 4)
13  0.200000            (3, 4)
14  0.200000            (2, 4)
15  0.355556            (4, 6)
16  0.200000            (1, 6)
17  0.200000         (1, 4, 6)
18  0.288889            (4, 5)
19  0.266667            (5, 6)
20  0.200000            (5, 7)
21  0.266667         (4, 5, 6)
22  0.200000         (4, 5, 7)
23  0.200000         (5, 6, 7)
24  0.200000      (4, 5, 6, 7)
25  0.222222           (11, 5)
26  0.222222           (11, 6)
27  0.222222           (11, 4)
28  0.222222           (11, 7)
29  0.200000        (11, 5, 7)
30  0.222222        (11, 5, 6)
31  0.200000        (11, 6, 7)
32  0.200000     (11, 5, 6, 7)
33  0.222222        (11, 4, 6)
34  0.222222        (11, 4, 5)
35  0.200000        (11, 4, 7)
36  0.222222     (11, 4, 5, 6)
37  0.200000     (11, 4, 6, 7)
38  0.200000     (11, 4, 5, 7)
39  0.200000  (4, 5, 6, 7, 11)
40  0.266667            (6, 7)
41  0.266667            (4, 7)
42  0.222222            (2, 7)
43  0.266667         (4, 6, 7)

     support itemsets
0   0.222222      (1)
1   0.466667      (2)
2   0.422222      (3)
3   0.266667      (0)
4   0.400000      (4)
5   0.355556      (6)
6   0.288889     (13)
7   0.200000     (12)
8   0.222222   (2, 3)
9   0.200000   (2, 4)
10  0.355556   (4, 6)

     support       itemsets
0   0.466667            (2)
1   0.444444            (3)
2   0.266667            (0)
3   0.444444            (5)
4   0.400000            (4)
5   0.355556            (6)
6   0.200000           (11)
7   0.311111           (13)
8   0.377778            (7)
9   0.200000           (12)
10  0.288889         (2, 3)
11  0.200000         (3, 5)
12  0.222222         (2, 5)
13  0.355556         (4, 5)
14  0.200000         (2, 4)
15  0.355556         (4, 6)
16  0.311111         (5, 6)
17  0.266667         (6, 7)
18  0.311111      (4, 5, 6)
19  0.266667      (4, 6, 7)
20  0.222222      (5, 6, 7)
21  0.222222   (4, 5, 6, 7)
22  0.200000        (11, 6)
23  0.200000        (11, 4)
24  0.200000        (11, 5)
25  0.200000     (11, 4, 6)
26  0.200000     (11, 5, 6)
27  0.200000     (11, 4, 5)
28  0.200000  (11, 4, 5, 6)
29  0.311111         (4, 7)
30  0.266667         (2, 7)
31  0.288889         (5, 7)
32  0.200000      (2, 4, 7)
33  0.266667      (4, 5, 7)

     support          itemsets
0   0.466667               (2)
1   0.266667               (0)
2   0.333333               (3)
3   0.422222               (5)
4   0.400000               (4)
5   0.355556               (6)
6   0.444444              (11)
7   0.377778               (7)
8   0.200000              (13)
9   0.200000              (12)
10  0.200000            (2, 3)
11  0.355556           (11, 5)
12  0.266667            (2, 5)
13  0.222222        (2, 11, 5)
14  0.333333            (4, 5)
15  0.311111           (11, 4)
16  0.200000            (2, 4)
17  0.266667        (11, 4, 5)
18  0.200000         (2, 4, 5)
19  0.355556            (4, 6)
20  0.311111            (5, 6)
21  0.311111           (11, 6)
22  0.288889            (6, 7)
23  0.311111         (4, 5, 6)
24  0.266667        (11, 5, 6)
25  0.266667     (11, 4, 5, 6)
26  0.311111        (11, 4, 6)
27  0.288889         (4, 6, 7)
28  0.266667        (11, 6, 7)
29  0.244444         (5, 6, 7)
30  0.266667     (11, 4, 6, 7)
31  0.244444      (4, 5, 6, 7)
32  0.222222     (11, 5, 6, 7)
33  0.222222  (4, 5, 6, 7, 11)
34  0.244444           (2, 11)
35  0.355556           (11, 7)
36  0.333333            (5, 7)
37  0.288889            (4, 7)
38  0.244444            (2, 7)
39  0.311111        (11, 5, 7)
40  0.266667        (11, 4, 7)
41  0.244444         (4, 5, 7)
42  0.222222     (11, 4, 5, 7)
43  0.244444         (2, 5, 7)
44  0.222222        (2, 11, 7)
45  0.222222     (2, 11, 5, 7)

     support         itemsets
0   0.266667              (1)
1   0.466667              (2)
2   0.533333              (3)
3   0.266667              (0)
4   0.600000              (5)
5   0.400000              (4)
6   0.355556              (6)
7   0.555556              (7)
8   0.333333             (11)
9   0.200000             (12)
10  0.333333           (2, 3)
11  0.333333           (2, 7)
12  0.333333           (2, 5)
13  0.222222        (2, 3, 5)
14  0.222222        (2, 3, 7)
15  0.222222     (2, 3, 5, 7)
16  0.333333        (2, 5, 7)
17  0.333333           (3, 5)
18  0.311111           (3, 7)
19  0.311111        (3, 5, 7)
20  0.377778           (4, 5)
21  0.377778           (4, 7)
22  0.222222           (3, 4)
23  0.200000           (2, 4)
24  0.355556        (4, 5, 7)
25  0.222222        (3, 4, 5)
26  0.222222        (3, 4, 7)
27  0.222222     (3, 4, 5, 7)
28  0.200000        (2, 4, 5)
29  0.200000        (2, 4, 7)
30  0.200000     (2, 4, 5, 7)
31  0.355556           (4, 6)
32  0.333333           (5, 6)
33  0.333333           (6, 7)
34  0.222222           (3, 6)
35  0.333333        (4, 5, 6)
36  0.311111        (5, 6, 7)
37  0.311111     (4, 5, 6, 7)
38  0.333333        (4, 6, 7)
39  0.222222        (3, 5, 6)
40  0.222222        (3, 6, 7)
41  0.222222        (3, 4, 6)
42  0.222222     (3, 5, 6, 7)
43  0.222222     (3, 4, 5, 6)
44  0.222222     (3, 4, 6, 7)
45  0.222222  (3, 4, 5, 6, 7)
46  0.533333           (5, 7)
47  0.333333          (11, 5)
48  0.311111          (11, 7)
49  0.222222          (11, 4)
50  0.311111       (11, 5, 7)
51  0.222222       (11, 4, 5)
52  0.222222       (11, 4, 7)
53  0.222222    (11, 4, 5, 7)