In [5]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth

In [6]:
def apriori_algorithm(inputCSV):
    df = pd.read_csv(inputCSV)
    result_df = apriori(df, min_support=0.5)
    display(result_df)
    
apriori_algorithm("Datasets/Transaction_Datasets/India_Monthly_Diff.csv")

     support              itemsets
0   0.577778                   (2)
1   0.577778                   (3)
2   0.733333                   (4)
3   0.733333                   (5)
4   0.622222                   (6)
..       ...                   ...
60  0.577778     (4, 5, 6, 10, 11)
61  0.555556     (4, 5, 7, 10, 11)
62  0.555556     (4, 6, 7, 10, 11)
63  0.555556     (5, 6, 7, 10, 11)
64  0.555556  (4, 5, 6, 7, 10, 11)

[65 rows x 2 columns]

In [7]:
def fp_growth_algorithm(inputCSV):
    df = pd.read_csv(inputCSV)
    result_df = fpgrowth(df, min_support=0.5)
    display(result_df)
    
fp_growth_algorithm("Datasets/Transaction_Datasets/India_Monthly_Diff.csv")

     support              itemsets
0   0.577778                   (3)
1   0.577778                   (2)
2   0.733333                   (5)
3   0.733333                   (4)
4   0.622222                   (6)
..       ...                   ...
60  0.555556     (5, 6, 7, 10, 11)
61  0.555556      (4, 5, 6, 7, 10)
62  0.555556      (4, 5, 6, 7, 11)
63  0.555556     (4, 5, 7, 10, 11)
64  0.555556  (4, 5, 6, 7, 10, 11)

[65 rows x 2 columns]